body{
  background-color: #121216;
  
}
div{
  color: white;
}
h1{
  margin: 0 0 100px 0;
  text-align: center;
}
li{


  margin: 0;
  list-style-type: none;
  font-weight:400;
  padding: 2px 4px;
}
ul{
  padding: 0;
  display: inline-flex;
  flex-direction: column;
}
#spaceList{
  margin-bottom: 20px;
}

#colDecouvrir{
  display: flex;

  
}
#searchFilter{
width: 20vw;
margin: 0 0 0 40px;
border-right: 2px solid white;


}

#cardDisplay{
  width: 100%;
  padding: 0 10vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  columns: 2;

}

.cardProf {
  width: 25vw;
  height: 30vh;
  position: relative;
  margin: 2vh; 



}

/* .cardProf > img{
  width: 50%;
  top: 0;
  position: absolute;

} */
.nameDesc {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 800;
  text-align: center;
  z-index: 10;


}
.nameDesc > p{

  font-size: 30px;
}
.nameDesc > span {
  font-size: 15px;
  font-weight: 500;
}
/* .blackBox {
  position: absolute;
  width: 50%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.503);
  z-index: 2;

} */
.image {

  width: 40%;
  height: 30vh;
  border-radius: 4%;
  background: linear-gradient(0, rgba(0, 0, 0, 0.506) 30%, rgba(0, 0, 0, 0.506) 30%),
   url('https://c.stocksy.com/a/xuK700/z9/1748707.jpg') center no-repeat;


}

/* .text-container {

  padding: 2px 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  z-index: 200;
}

.text-container.hovered {
  background-color: #ffffff34; /* Couleur de fond au survol */

/*   
}  */
.button{
  color: white;
  background-color: #121216;
  border: none;
  font-size: 17px;
  padding: 3px 6px;
  margin: 2px 0;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.353);
  font-weight: 700;
  border-radius: 5%;
}
.active{
  background-color: rgba(255, 255, 255, 0.353);
  font-weight: 700;
}